@charset "UTF-8";
.u-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .u-mobile {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media (max-width: 375) {
  html {
    font-size: 4.26667vw;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.11111vw;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.l-about {
  padding-top: 64px;
  padding-top: 4rem;
  padding-bottom: 64px;
  padding-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .l-about {
    padding-top: 8.125rem;
    padding-bottom: 9.375rem;
  }
}

.l-footer {
  padding-top: 48px;
  padding-top: 3rem;
}

.l-header {
  height: 60px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .l-header {
    height: 90px;
  }
}

.l-inner {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1490px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (min-width: 768px) {
  .l-menu-inner {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
}

.c-button {
  display: inline-block;
  border: 1px solid #2F2F2F;
}

.c-card__img-wrap {
  position: relative;
}

.c-cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-section__title {
  font-family: reross-quadratic, sans-serif;
  font-size: 32px;
  font-size: 2rem;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .c-section__title {
    font-size: 3rem;
  }
}

.c-section__title::after {
  background-color: #159741;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
}

.c-section__title--sub {
  color: #159741;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .c-section__title--sub {
    font-size: 1.125rem;
  }
}

.c-section__title--menu {
  color: #fff;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
}

.c-section__title--menu::after {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .c-section__title--menu {
    padding-bottom: 1rem;
  }
}

.appp {
  margin: 1px;
}

.p-about__c-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .p-about__c-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.p-about__c-card + .p-about__c-card {
  margin-top: 56px;
  margin-top: 3.5rem;
}

@media screen and (min-width: 768px) {
  .p-about__c-card + .p-about__c-card {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .p-about__c-card:nth-child(even) .p-about__img-wrap {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .p-about__c-card:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .p-about__c-card:nth-child(odd) .p-about__img-wrap {
    margin-right: auto;
    margin-left: 0;
  }
}

.p-about__c-cards {
  margin-top: 56px;
  margin-top: 3.5rem;
}

@media screen and (min-width: 768px) {
  .p-about__c-cards {
    margin-top: 5rem;
  }
}

.p-about__img-wrap {
  padding-top: 64.1399%;
}

@media screen and (min-width: 768px) {
  .p-about__img-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.7439%;
            flex: 0 0 41.7439%;
    padding-top: 20.72%;
  }
}

.p-about__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .p-about__inner {
    padding-left: 11.25rem;
    padding-right: 11.375rem;
  }
}

.p-about__number {
  bottom: -23px;
  color: #fff;
  display: inline-block;
  font-family: reross-quadratic, sans-serif;
  font-size: 180px;
  font-size: 11.25rem;
  line-height: 1;
  opacity: .8;
  position: absolute;
  right: -15px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .p-about__number {
    font-size: 18rem;
    right: 0;
    top: 0;
  }
}

.p-about__text-area {
  letter-spacing: .05em;
  padding-bottom: 34px;
  padding-bottom: 2.125rem;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .p-about__text-area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 52.411%;
            flex: 0 0 52.411%;
    font-size: 1.125rem;
    padding-top: 4rem;
  }
}

.p-about__text {
  display: block;
}

@media screen and (min-width: 768px) {
  .p-about__text {
    padding-right: 11.0625rem;
    letter-spacing: .03em;
  }
}

.p-about__title {
  display: block;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}

@media screen and (min-width: 768px) {
  .p-about__title {
    font-size: 1.875rem;
    margin-bottom: 1.5rem;
  }
}

.p-about__title--green {
  color: #159741;
}

.p-about {
  background-color: #F2F2F2;
}

.p-footer__copy {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

.p-footer__copy small {
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
}

.p-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-footer__logo {
  margin-top: 34px;
  margin-top: 2.125rem;
}

.p-footer__logo > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-footer__logo img {
  width: 166.48px;
}

.p-footer__nav {
  margin-top: 41px;
  margin-top: 2.5625rem;
}

.p-footer-nav__item + .p-footer-nav__item {
  margin-left: 32px;
  margin-left: 2rem;
}

.p-footer-nav__link {
  color: #333;
  display: block;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .p-footer-nav__link {
    font-size: 1.125rem;
  }
}

.p-footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: reross-quadratic, sans-serif;
}

.p-footer-sns__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2F2F2F;
  border: 1px solid #2F2F2F;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  width: 50px;
}

@media screen and (min-width: 768px) {
  .p-footer-sns__icon {
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 768px) {
  .p-footer-sns__icon:hover {
    background-color: #fff;
    color: #2F2F2F;
  }
}

.p-footer-sns__link {
  display: block;
}

.p-footer-sns__link + .p-footer-sns__link {
  margin-left: 40px;
  margin-left: 2.5rem;
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;
}

@media screen and (min-width: 768px) {
  .p-header__inner {
    padding-left: 1.9375rem;
    padding-right: 4.4375rem;
  }
}

.p-header__logo {
  width: 55px;
}

@media screen and (min-width: 768px) {
  .p-header__logo {
    width: 117.87px;
  }
}

.p-header__logo > a {
  display: block;
}

.p-header__nav {
  margin-left: auto;
  height: inherit;
}

.p-header {
  background-color: #2F2F2F;
}

@media screen and (min-width: 768px) {
  .p-hero__heading {
    padding-left: 15.0625rem;
  }
}

.p-hero__inner {
  background-image: url(../../../assets/images/img_mv_sp.jpg);
  background-position: top right -70px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 23px;
  padding-bottom: 1.4375rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 0;
  padding-top: 30px;
  padding-top: 1.875rem;
}

@media screen and (min-width: 768px) {
  .p-hero__inner {
    background-image: url(../../../assets/images/img_mv_pc.jpg);
    background-position: top right -70px;
    padding-bottom: 5.25rem;
    padding-top: 5.875rem;
  }
}

.p-hero__sub-title {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 15px;
  margin-top: 0.9375rem;
}

@media screen and (min-width: 768px) {
  .p-hero__sub-title {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

.p-hero__sub-title--green {
  background-color: #159741;
  color: #fff;
  display: inline-block;
  margin-top: 9px;
  margin-top: 0.5625rem;
  padding: 4px 8px 7px 3px;
  padding: 0.25rem 0.5rem 0.4375rem 0.1875rem;
}

.p-hero__text-area {
  padding-bottom: 63px;
  padding-bottom: 3.9375rem;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;
  padding-top: 48px;
  padding-top: 3rem;
  position: relative;
  text-align: center;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .p-hero__text-area {
    padding-bottom: 7.0625rem;
    padding-top: 7.5rem;
  }
}

.p-hero__text-area::after {
  bottom: -13px;
  color: #676767;
  content: "Garden Salad";
  display: block;
  font-family: reross-quadratic, sans-serif;
  font-size: 115px;
  font-size: 7.1875rem;
  left: 0;
  line-height: 1;
  opacity: .3;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .p-hero__text-area::after {
    bottom: -33px;
    font-size: 17.5rem;
    left: -43px;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .p-hero__text {
    font-size: 1.125rem;
  }
}

.p-hero__text:first-of-type {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .p-hero__text:first-of-type {
    margin-bottom: 3rem;
  }
}

.p-hero__text + .p-hero__text {
  margin-top: 31px;
  margin-top: 1.9375rem;
}

@media screen and (min-width: 768px) {
  .p-hero__text + .p-hero__text {
    margin-top: 2.25rem;
  }
}

.p-hero__text--large {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .p-hero__text--large {
    font-size: 1.875rem;
  }
}

.p-hero__title {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: reross-quadratic, sans-serif;
}

@media screen and (min-width: 768px) {
  .p-hero__title {
    font-size: 6.25rem;
    line-height: 1;
  }
}

.p-hero__title--green {
  color: #159741;
}

.p-hero {
  background-color: #2F2F2F;
  color: #fff;
}

.p-menu__body-wrap {
  background-color: #fff;
  margin-top: -56px;
  padding: 10px;
  padding: 0.625rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .p-menu__body-wrap {
    padding: 0.8125rem;
  }
}

.p-menu__body {
  border: 1px solid #2F2F2F;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
  padding-top: 46px;
  padding-top: 2.875rem;
  text-align: center;
}

.p-menu__body-label {
  padding-top: 127px;
  padding-top: 7.9375rem;
}

.p-menu__bottom-img {
  background-attachment: fixed;
  background-image: url(../../../assets/images/menu_bottom.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 66.6667%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-menu__bottom-img {
    padding-top: 31.25%;
  }
}

.p-menu__button {
  margin-top: 24px;
  margin-top: 1.5rem;
  text-align: center;
}

.p-menu__button a {
  padding-bottom: 17px;
  padding-bottom: 1.0625rem;
  padding-left: 37px;
  padding-left: 2.3125rem;
  padding-right: 58px;
  padding-right: 3.625rem;
  padding-top: 16px;
  padding-top: 1rem;
  position: relative;
}

.p-menu__calorie {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 16px;
  margin-top: 1rem;
  line-height: 1;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .p-menu__calorie {
    font-size: 1.5rem;
    margin-top: 1.25rem;
  }
}

.p-menu__img-wrap {
  padding-top: 103.9344%;
  position: relative;
  z-index: 2;
}

.p-menu__img-wrap img {
  left: 0;
  position: absolute;
  top: 0;
}

.p-menu__ingredient {
  color: #fff;
  margin-top: 48px;
  margin-top: 3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-menu__ingredient {
    font-size: 1.125rem;
    margin-top: 2rem;
  }
}

.p-menu__inner {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  padding-top: 24px;
  padding-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .p-menu__inner {
    padding: 4.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item {
    width: calc(50% - 16px);
  }
}

.p-menu__item + .p-menu__item {
  margin-top: 48px;
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .p-menu__item + .p-menu__item {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item:last-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item:first-of-type {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item:first-of-type .p-menu__img-wrap {
    padding-left: 41.7592%;
    padding-top: 41.32%;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item:first-of-type .p-menu__body-wrap {
    margin-bottom: 1.5rem;
    margin-left: -5.3125rem;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item:first-of-type .p-menu__body {
    padding-bottom: 2rem;
    padding-left: 3.875rem;
    padding-right: 3.9375rem;
    padding-top: 6.25rem;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item:not(:first-of-type) .p-menu__img-wrap {
    width: 79.5801%;
    padding-top: 83.1417%;
  }
}

.p-menu__item:not(:first-of-type) .p-menu__img-wrap img {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .p-menu__item:not(:first-of-type) .p-menu__body-wrap {
    margin-top: -4.125rem;
  }
}

.p-menu__label {
  background-color: #159741;
  left: 50%;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  padding-top: 40px;
  padding-top: 2.5rem;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70.3333%;
}

@media screen and (min-width: 768px) {
  .p-menu__label {
    width: 46.48%;
    padding-top: 0.5625rem;
    padding-bottom: 0.875rem;
  }
}

.p-menu__label--en {
  color: #fff;
  display: block;
  font-family: "Satisfy", cursive;
  font-size: 12px;
  font-size: 0.75rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-menu__label--en {
    font-size: 0.875rem;
  }
}

.p-menu__label--jp {
  color: #fff;
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-menu__label--jp {
    font-size: 1.5rem;
  }
}

.p-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 48px;
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .p-menu__list {
    margin-top: 3.375rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.p-menu__name {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
  .p-menu__name {
    font-size: 1.875rem;
  }
}

.p-menu__price {
  font-family: reross-quadratic, sans-serif;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 16px;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .p-menu__price {
    font-size: 2.5rem;
    margin-top: 1.25rem;
  }
}

.p-menu__price--small {
  font-size: 18px;
  font-size: 1.125rem;
}

@media screen and (min-width: 768px) {
  .p-menu__price--small {
    font-size: 1.5rem;
  }
}

.p-menu__price--jp {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .p-menu__price--jp {
    font-size: 1.125rem;
  }
}

.p-menu__sns-id {
  text-align: center;
  margin-top: 8px;
  margin-top: 0.5rem;
}

.p-menu__sns-wrap {
  background-color: #fff;
  margin-top: 48px;
  margin-top: 3rem;
  padding: 10px;
  padding: 0.625rem;
  position: relative;
}

.p-menu__sns {
  border: 1px solid #2F2F2F;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
  padding-top: 64px;
  padding-top: 4rem;
}

@media screen and (min-width: 768px) {
  .p-menu__sns {
    padding-top: 6rem;
  }
}

.p-menu__text {
  padding: 0 12px;
  padding: 0 0.75rem;
}

@media screen and (min-width: 768px) {
  .p-menu__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.125rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .p-menu__text::before, .p-menu__text::after {
    background-color: #333;
    content: "";
    height: 31px;
    width: 1px;
  }
  .p-menu__text::before {
    margin-right: 16px;
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  .p-menu__text::after {
    margin-left: 16px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}

.p-menu__top-img {
  background-attachment: fixed;
  background-image: url(../../../assets/images/menu_top.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 66.6667%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-menu__top-img {
    padding-top: 31.25%;
  }
}

.p-menu__wrap {
  border: 1px solid #fff;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 21px;
  padding-right: 1.3125rem;
  padding-top: 32px;
  padding-top: 2rem;
}

@media screen and (min-width: 768px) {
  .p-menu__wrap {
    padding-top: 5rem;
  }
}

.p-menu {
  background-color: #2F2F2F;
}

.p-nav__item {
  height: inherit;
}

.p-nav__item + .p-nav__item {
  margin-left: 20px;
  margin-left: 1.25rem;
}

.p-nav__link {
  text-transform: capitalize;
  font-family: reross-quadratic, sans-serif;
  color: #fff;
  height: inherit;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .p-nav__link {
    font-size: 1.125rem;
  }
}

.p-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.p-section__title--sub {
  color: #fff;
}

.p-sns__label {
  background-color: #159741;
  color: #fff;
  font-family: reross-quadratic, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  left: 50%;
  padding-bottom: 11px;
  padding-bottom: 0.6875rem;
  padding-left: 34px;
  padding-left: 2.125rem;
  padding-right: 34px;
  padding-right: 2.125rem;
  padding-top: 10px;
  padding-top: 0.625rem;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .p-sns__label {
    padding-bottom: 1.125rem;
    padding-left: 6.6875rem;
    padding-right: 6.6875rem;
    padding-top: 1.125rem;
    font-size: 1.875rem;
  }
}

.fa-external-link-alt {
  position: absolute;
  top: 50%;
  right: 17px1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}
