@charset "UTF-8";
.u-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .u-mobile {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: "Noto Sans JP", sans-serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media (max-width: 375) {
  html {
    font-size: 4.26667vw;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.11111vw;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.l-footer {
  padding-top: 48px;
  padding-top: 3rem;
}

.l-header {
  height: 60px;
  padding: 0;
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1490px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.appp {
  margin: 1px;
}

.p-footer__copy {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

.p-footer__copy small {
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
}

.p-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-footer__logo {
  margin-top: 34px;
  margin-top: 2.125rem;
}

.p-footer__logo > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-footer__logo img {
  width: 166.48px;
}

.p-footer__nav {
  margin-top: 41px;
  margin-top: 2.5625rem;
}

.p-footer-nav__item + .p-footer-nav__item {
  margin-left: 32px;
  margin-left: 2rem;
}

.p-footer-nav__link {
  display: block;
  text-transform: capitalize;
  color: #333;
}

.p-footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: reross-quadratic, sans-serif;
}

.p-footer-sns__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2F2F2F;
  color: #fff;
  font-size: 25px;
}

.p-footer-sns__link {
  display: block;
}

.p-footer-sns__link + .p-footer-sns__link {
  margin-left: 40px;
  margin-left: 2.5rem;
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.p-header__logo {
  width: 55px;
}

.p-header__logo > a {
  display: block;
}

.p-header__nav {
  margin-left: auto;
}

.p-header {
  background-color: #2F2F2F;
}

.p-nav__item {
  height: inherit;
}

.p-nav__item + .p-nav__item {
  margin-left: 20px;
  margin-left: 1.25rem;
}

.p-nav__link {
  text-transform: capitalize;
  font-family: reross-quadratic, sans-serif;
  color: #fff;
  height: inherit;
  display: block;
}

.p-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  outline: 1px solid red;
}
