@charset "UTF-8";
.u-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .u-mobile {
    display: none;
  }
}

.l-inner {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  max-width: 37.5rem;
}

@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1490px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

/* FontFamily */
body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media (max-width: 375) {
  html {
    font-size: 4.26667vw;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.11111vw;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  width: 100%;
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.l-about {
  padding-top: 64px;
  padding-top: 4rem;
  padding-bottom: 64px;
  padding-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .l-about {
    padding-top: 8.125rem;
    padding-bottom: 9.375rem;
  }
}

.l-contact__inner {
  padding-top: 64px;
  padding-top: 4rem;
}

@media screen and (min-width: 768px) {
  .l-contact__inner {
    max-width: 50rem;
  }
}

.l-contact {
  padding-top: 64px;
  padding-top: 4rem;
  padding-bottom: 64px;
  padding-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .l-contact {
    padding-top: 8.125rem;
    padding-bottom: 8.125rem;
  }
}

.l-footer {
  padding-top: 48px;
  padding-top: 3rem;
}

.l-header {
  height: 60px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .l-header {
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .l-menu-inner {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
}

@media screen and (min-width: 768px) {
  .l-shop__letter {
    max-width: 71.25rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.l-shop {
  padding-top: 64px;
  padding-top: 4rem;
  padding-bottom: 64px;
  padding-bottom: 4rem;
}

.c-button {
  display: inline-block;
  border: 1px solid #2f2f2f;
}

.c-card__img-wrap {
  position: relative;
}

.c-cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-page-top-button {
  bottom: 13px;
  font-family: reross-quadratic, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  left: 50%;
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  display: block;
}

@media screen and (min-width: 768px) {
  .c-page-top-button {
    font-size: 1rem;
    bottom: 20px;
  }
}

.c-section__title {
  font-family: reross-quadratic, sans-serif;
  font-size: 32px;
  font-size: 2rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .c-section__title {
    font-size: 3rem;
  }
}

.c-section__title::after {
  background-color: #159741;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
}

.c-section__title--sub {
  color: #159741;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .c-section__title--sub {
    font-size: 1.125rem;
  }
}

.c-section__title--menu {
  color: #fff;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
}

.c-section__title--menu::after {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .c-section__title--menu {
    padding-bottom: 1rem;
  }
}

.c-triangle,
.c-triangle::before,
.c-triangle::after {
  background: #333;
  height: 13px;
  width: 13px;
}

@media screen and (min-width: 768px) {
  .c-triangle,
  .c-triangle::before,
  .c-triangle::after {
    height: 1.5625rem;
    width: 1.5625rem;
  }
}

.c-triangle::before,
.c-triangle::after {
  content: "";
  left: 0;
  position: absolute;
  top: 0;
}

.c-triangle {
  border-top-left-radius: 30%;
  left: 38%;
  position: relative;
  top: -6px;
  -webkit-transform: rotate(30deg) skewY(30deg) scaleX(0.86666);
          transform: rotate(30deg) skewY(30deg) scaleX(0.86666);
}

@media screen and (min-width: 768px) {
  .c-triangle {
    left: 30%;
    top: -0.9375rem;
  }
}

.c-triangle::before {
  border-top-right-radius: 30%;
  -webkit-transform: skewX(-45deg) translateX(50%);
          transform: skewX(-45deg) translateX(50%);
}

.c-triangle::after {
  border-bottom-left-radius: 30%;
  -webkit-transform: skewY(-45deg) translateY(50%);
          transform: skewY(-45deg) translateY(50%);
}

.appp {
  margin: 1px;
}

.c-page-top-button-wrap {
  background-color: #f2f2f2;
  border: 2px solid #333;
  border-radius: 50%;
  bottom: 2%;
  height: 70px;
  position: fixed;
  right: 2%;
  text-align: center;
  width: 70px;
  z-index: 30;
}

@media screen and (min-width: 768px) {
  .c-page-top-button-wrap {
    height: 7.5rem;
    min-height: 80px;
    min-width: 80px;
    width: 7.5rem;
  }
}

.p-about__c-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .p-about__c-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.p-about__c-card + .p-about__c-card {
  margin-top: 56px;
  margin-top: 3.5rem;
}

@media screen and (min-width: 768px) {
  .p-about__c-card + .p-about__c-card {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .p-about__c-card:nth-child(even) .p-about__img-wrap {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .p-about__c-card:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .p-about__c-card:nth-child(odd) .p-about__img-wrap {
    margin-right: auto;
    margin-left: 0;
  }
}

.p-about__c-cards {
  margin-top: 56px;
  margin-top: 3.5rem;
}

@media screen and (min-width: 768px) {
  .p-about__c-cards {
    margin-top: 5rem;
  }
}

.p-about__img-wrap {
  padding-top: 64.1399%;
}

@media screen and (min-width: 768px) {
  .p-about__img-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.7439%;
            flex: 0 0 41.7439%;
    padding-top: 20.72%;
  }
}

.p-about__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .p-about__inner {
    padding-left: 11.25rem;
    padding-right: 11.375rem;
  }
}

.p-about__number {
  bottom: -23px;
  color: #fff;
  display: inline-block;
  font-family: reross-quadratic, sans-serif;
  font-size: 180px;
  font-size: 11.25rem;
  line-height: 1;
  opacity: .8;
  position: absolute;
  right: -15px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .p-about__number {
    font-size: 18rem;
    right: 0;
    top: 0;
  }
}

.p-about__text-area {
  letter-spacing: .05em;
  padding-bottom: 34px;
  padding-bottom: 2.125rem;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .p-about__text-area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 52.411%;
            flex: 0 0 52.411%;
    font-size: 1.125rem;
    padding-top: 4rem;
  }
}

.p-about__text {
  display: block;
}

@media screen and (min-width: 768px) {
  .p-about__text {
    padding-right: 11.0625rem;
    letter-spacing: .03em;
  }
}

.p-about__title {
  display: block;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}

@media screen and (min-width: 768px) {
  .p-about__title {
    font-size: 1.875rem;
    margin-bottom: 1.5rem;
  }
}

.p-about__title--green {
  color: #159741;
}

.p-about {
  background-color: #f2f2f2;
}

.p-contact__message {
  text-align: center;
  margin-top: 60px;
  margin-top: 3.75rem;
  display: none;
}

.p-contact__message--error {
  text-align: center;
  margin-top: 60px;
  margin-top: 3.75rem;
  color: #f00;
  display: none;
}

.p-contact__text {
  letter-spacing: .03em;
  margin-top: 48px;
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .p-contact__text {
    text-align: center;
  }
}

.p-contact__wrap {
  background-color: #f2f2f2;
  padding-top: 64px;
  padding-top: 4rem;
  padding-bottom: 64px;
  padding-bottom: 4rem;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 15px;
  padding-right: 0.9375rem;
}

@media screen and (min-width: 768px) {
  .p-contact__wrap {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-contact {
  background-image: url(../../../assets/images/contact_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-footer__copy {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

.p-footer__copy small {
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
}

.p-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-footer__logo {
  margin-top: 34px;
  margin-top: 2.125rem;
}

.p-footer__logo > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-footer__logo img {
  width: 166.48px;
}

.p-footer__nav {
  margin-top: 41px;
  margin-top: 2.5625rem;
}

.p-footer-nav__item + .p-footer-nav__item {
  margin-left: 32px;
  margin-left: 2rem;
}

.p-footer-nav__link {
  color: #333;
  display: block;
  position: relative;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .p-footer-nav__link {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 768px) {
  .p-footer-nav__link::after {
    background: #159741;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    visibility: hidden;
    width: 100%;
  }
}

.p-footer-nav__link:hover {
  opacity: 1;
}

.p-footer-nav__link:hover::after {
  opacity: 1;
  visibility: visible;
}

.p-footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: reross-quadratic, sans-serif;
}

.p-footer-sns__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2f2f2f;
  border: 1px solid #2f2f2f;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  width: 50px;
}

@media screen and (min-width: 768px) {
  .p-footer-sns__icon {
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 768px) {
  .p-footer-sns__icon:hover {
    background-color: #fff;
    color: #2f2f2f;
  }
}

.p-footer-sns__link {
  display: block;
}

.p-footer-sns__link + .p-footer-sns__link {
  margin-left: 40px;
  margin-left: 2.5rem;
}

.p-form__check {
  cursor: pointer;
  padding-left: 43px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .p-form__check:hover::before, .p-form__check:active::before, .p-form__check:focus::before {
    border-color: #159741;
    -webkit-box-shadow: 0 0 4px 0 #159741;
            box-shadow: 0 0 4px 0 #159741;
  }
}

.p-form__check::before,
.p-form__check::after {
  content: "";
  display: block;
  position: absolute;
}

.p-form__check::before {
  background-color: #fff;
  border: 1px solid #2f2f2f;
  border-radius: 0;
  height: 30px;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.p-form__check::after {
  border-bottom: 2px solid #159741;
  border-left: 2px solid #159741;
  height: 14px;
  left: 9px;
  opacity: 0;
  top: -1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 22px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

input[type="checkbox"]:checked + .p-form__check::before {
  background-color: rgba(21, 151, 65, .15);
  border-color: #159741;
  -webkit-box-shadow: 0 0 4px 0 #159741;
          box-shadow: 0 0 4px 0 #159741;
}

input[type="checkbox"]:checked + .p-form__check::after {
  opacity: 1;
}

.p-form__input input {
  border: 1px solid #2f2f2f;
  margin-top: 6px;
  margin-top: 0.375rem;
  padding-bottom: 17px;
  padding-bottom: 1.0625rem;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 13px;
  padding-right: 0.8125rem;
  padding-top: 16px;
  padding-top: 1rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-form__input input {
    padding-top: 0.8125rem;
    padding-bottom: 0.8125rem;
    padding-left: 1.4375rem;
    padding-right: 1.4375rem;
  }
}

.p-form__input textarea {
  border: 1px solid #2f2f2f;
  margin-top: 6px;
  margin-top: 0.375rem;
  min-height: 160px;
  padding-bottom: 17px;
  padding-bottom: 1.0625rem;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 13px;
  padding-right: 0.8125rem;
  padding-top: 16px;
  padding-top: 1rem;
  resize: vertical;
}

.p-form__item + .p-form__item {
  margin-top: 32px;
  margin-top: 2rem;
}

.p-form__label {
  background-color: #159741;
  border-radius: 0.375rem;
  color: #fff;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  margin-left: 10px;
  margin-left: 0.625rem;
  padding-bottom: 3px;
  padding-bottom: 0.1875rem;
  padding-left: 8px;
  padding-left: 0.5rem;
  padding-right: 8px;
  padding-right: 0.5rem;
  padding-top: 3px;
  padding-top: 0.1875rem;
}

@media screen and (min-width: 768px) {
  .p-form__label {
    margin-left: 1rem;
  }
}

.p-form__privacy {
  margin-top: 32px;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .p-form__privacy {
    text-align: center;
  }
}

.p-form__submit-wrap {
  text-align: center;
}

.p-form__submit {
  background-color: #BDBDBD;
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 40px;
  margin-top: 2.5rem;
  max-width: 300px;
  max-width: 18.75rem;
  padding-bottom: 14px;
  padding-bottom: 0.875rem;
  padding-top: 15px;
  padding-top: 0.9375rem;
  -webkit-transition: background-color .3s, opacity .3s;
  transition: background-color .3s, opacity .3s;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-form__submit:hover {
    opacity: .7;
  }
}

.p-form__submit.-active {
  background-color: #159741;
}

.p-form__title {
  font-size: 18px;
  font-size: 1.125rem;
}

.p-form__wrap {
  margin-top: 32px;
  margin-top: 2rem;
}

.p-gallary__item {
  width: calc(50% - 5px);
}

@media screen and (min-width: 768px) {
  .p-gallary__item {
    width: 231px;
  }
}

@media screen and (min-width: 768px) {
  .p-gallary__item img {
    width: 231px;
    max-width: 231px;
  }
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;
}

@media screen and (min-width: 768px) {
  .p-header__inner {
    padding-left: 1.9375rem;
    padding-right: 4.4375rem;
  }
}

.p-header__logo {
  width: 55px;
}

@media screen and (min-width: 768px) {
  .p-header__logo {
    width: 117.87px;
  }
}

.p-header__logo > a {
  display: block;
}

.p-header__nav {
  margin-left: auto;
  height: inherit;
}

.p-header {
  background-color: #2f2f2f;
}

@media screen and (min-width: 768px) {
  .p-hero__heading {
    padding-left: 15.0625rem;
  }
}

.p-hero__inner {
  background-image: url(../../../assets/images/img_mv_sp.jpg);
  background-position: top right -70px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 23px;
  padding-bottom: 1.4375rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 0;
  padding-top: 30px;
  padding-top: 1.875rem;
}

@media screen and (min-width: 768px) {
  .p-hero__inner {
    background-image: url(../../../assets/images/img_mv_pc.jpg);
    background-position: top right -70px;
    padding-bottom: 5.25rem;
    padding-top: 5.875rem;
  }
}

.p-hero__sub-title {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 15px;
  margin-top: 0.9375rem;
}

@media screen and (min-width: 768px) {
  .p-hero__sub-title {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

.p-hero__sub-title--green {
  background-color: #159741;
  color: #fff;
  display: inline-block;
  margin-top: 9px;
  margin-top: 0.5625rem;
  padding: 4px 8px 7px 3px;
  padding: 0.25rem 0.5rem 0.4375rem 0.1875rem;
}

.p-hero__text-area {
  padding-bottom: 63px;
  padding-bottom: 3.9375rem;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;
  padding-top: 48px;
  padding-top: 3rem;
  position: relative;
  text-align: center;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .p-hero__text-area {
    padding-bottom: 7.0625rem;
    padding-top: 7.5rem;
  }
}

.p-hero__text-area::after {
  bottom: -13px;
  color: #676767;
  content: "Garden Salad";
  display: block;
  font-family: reross-quadratic, sans-serif;
  font-size: 115px;
  font-size: 7.1875rem;
  left: 0;
  line-height: 1;
  opacity: .3;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .p-hero__text-area::after {
    bottom: -33px;
    font-size: 17.5rem;
    left: -43px;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .p-hero__text {
    font-size: 1.125rem;
  }
}

.p-hero__text:first-of-type {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .p-hero__text:first-of-type {
    margin-bottom: 3rem;
  }
}

.p-hero__text + .p-hero__text {
  margin-top: 31px;
  margin-top: 1.9375rem;
}

@media screen and (min-width: 768px) {
  .p-hero__text + .p-hero__text {
    margin-top: 2.25rem;
  }
}

.p-hero__text--large {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .p-hero__text--large {
    font-size: 1.875rem;
  }
}

.p-hero__title {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: reross-quadratic, sans-serif;
}

@media screen and (min-width: 768px) {
  .p-hero__title {
    font-size: 6.25rem;
    line-height: 1;
  }
}

.p-hero__title--green {
  color: #159741;
}

.p-hero {
  background-color: #2f2f2f;
  color: #fff;
}

.p-menu__body-wrap {
  background-color: #fff;
  margin-top: -56px;
  padding: 10px;
  padding: 0.625rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .p-menu__body-wrap {
    padding: 0.8125rem;
  }
}

.p-menu__body {
  border: 1px solid #2f2f2f;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
  padding-top: 46px;
  padding-top: 2.875rem;
  text-align: center;
}

.p-menu__body-label {
  padding-top: 127px;
  padding-top: 7.9375rem;
}

.p-menu__bottom-img {
  background-attachment: fixed;
  background-image: url(../../../assets/images/menu_bottom.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 66.6667%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-menu__bottom-img {
    padding-top: 31.25%;
  }
}

.p-menu__button {
  margin-top: 24px;
  margin-top: 1.5rem;
  text-align: center;
}

.p-menu__button a {
  padding-bottom: 17px;
  padding-bottom: 1.0625rem;
  padding-left: 37px;
  padding-left: 2.3125rem;
  padding-right: 58px;
  padding-right: 3.625rem;
  padding-top: 16px;
  padding-top: 1rem;
  position: relative;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

@media screen and (min-width: 768px) {
  .p-menu__button a:hover {
    background-color: #333;
    color: #fff;
    opacity: 1;
  }
}

.p-menu__calorie {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 16px;
  margin-top: 1rem;
  line-height: 1;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .p-menu__calorie {
    font-size: 1.5rem;
    margin-top: 1.25rem;
  }
}

.p-menu__gallary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-top: 24px;
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .p-menu__gallary {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 16px;
    margin-top: 1.9375rem;
    overflow-x: scroll;
  }
}

@media screen and (min-width: 1368px) {
  .p-menu__gallary {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-menu__img-wrap {
  padding-top: 103.9344%;
  position: relative;
  z-index: 2;
}

.p-menu__img-wrap img {
  left: 0;
  position: absolute;
  top: 0;
}

.p-menu__ingredient {
  color: #fff;
  margin-top: 48px;
  margin-top: 3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-menu__ingredient {
    font-size: 1.125rem;
    margin-top: 2rem;
  }
}

.p-menu__inner {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  padding-top: 24px;
  padding-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .p-menu__inner {
    padding: 4.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item {
    width: calc(50% - 16px);
  }
}

.p-menu__item + .p-menu__item {
  margin-top: 48px;
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .p-menu__item + .p-menu__item {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item:last-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item:first-of-type {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item:first-of-type .p-menu__img-wrap {
    padding-left: 41.7592%;
    padding-top: 41.32%;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item:first-of-type .p-menu__body-wrap {
    margin-bottom: 1.5rem;
    margin-left: -5.3125rem;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item:first-of-type .p-menu__body {
    padding-bottom: 2rem;
    padding-left: 3.875rem;
    padding-right: 3.9375rem;
    padding-top: 6.25rem;
  }
}

@media screen and (min-width: 768px) {
  .p-menu__item:not(:first-of-type) .p-menu__img-wrap {
    padding-top: 82.1417%;
    width: 100%;
  }
}

.p-menu__item:not(:first-of-type) .p-menu__img-wrap img {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 79.76%;
}

@media screen and (min-width: 768px) {
  .p-menu__item:not(:first-of-type) .p-menu__body-wrap {
    margin-top: -4.125rem;
  }
}

.p-menu__label {
  background-color: #159741;
  left: 50%;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  padding-top: 40px;
  padding-top: 2.5rem;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70.3333%;
}

@media screen and (min-width: 768px) {
  .p-menu__label {
    width: 46.48%;
    padding-top: 0.5625rem;
    padding-bottom: 0.875rem;
  }
}

.p-menu__label--en {
  color: #fff;
  display: block;
  font-family: "Satisfy", cursive;
  font-size: 12px;
  font-size: 0.75rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-menu__label--en {
    font-size: 0.875rem;
  }
}

.p-menu__label--jp {
  color: #fff;
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-menu__label--jp {
    font-size: 1.5rem;
  }
}

.p-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 48px;
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .p-menu__list {
    margin-top: 3.375rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.p-menu__name {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
  .p-menu__name {
    font-size: 1.875rem;
  }
}

.p-menu__price {
  font-family: reross-quadratic, sans-serif;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 16px;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .p-menu__price {
    font-size: 2.5rem;
    margin-top: 1.25rem;
  }
}

.p-menu__price--small {
  font-size: 18px;
  font-size: 1.125rem;
}

@media screen and (min-width: 768px) {
  .p-menu__price--small {
    font-size: 1.5rem;
  }
}

.p-menu__price--jp {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .p-menu__price--jp {
    font-size: 1.125rem;
  }
}

.p-menu__sns-id {
  text-align: center;
  margin-top: 8px;
  margin-top: 0.5rem;
}

.p-menu__sns-wrap {
  background-color: #fff;
  margin-top: 48px;
  margin-top: 3rem;
  padding: 10px;
  padding: 0.625rem;
  position: relative;
}

.p-menu__sns {
  border: 1px solid #2f2f2f;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
  padding-top: 64px;
  padding-top: 4rem;
}

@media screen and (min-width: 768px) {
  .p-menu__sns {
    padding-top: 6rem;
  }
}

.p-menu__text {
  padding: 0 12px;
  padding: 0 0.75rem;
}

@media screen and (min-width: 768px) {
  .p-menu__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.125rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .p-menu__text::before, .p-menu__text::after {
    background-color: #333;
    content: "";
    height: 31px;
    width: 1px;
  }
  .p-menu__text::before {
    margin-right: 16px;
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  .p-menu__text::after {
    margin-left: 16px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}

.p-menu__top-img {
  background-attachment: fixed;
  background-image: url(../../../assets/images/menu_top.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 66.6667%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-menu__top-img {
    padding-top: 31.25%;
  }
}

.p-menu__wrap {
  border: 1px solid #fff;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 21px;
  padding-right: 1.3125rem;
  padding-top: 32px;
  padding-top: 2rem;
}

@media screen and (min-width: 768px) {
  .p-menu__wrap {
    padding-top: 5rem;
  }
}

.p-menu {
  background-color: #2f2f2f;
}

.p-modal__bg {
  background: rgba(0, 0, 0, .8);
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 30;
}

.p-modal__content {
  background: #fff;
  left: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .p-modal__content {
    width: 75%;
    padding: 62px;
    max-height: 90%;
  }
}

.p-modal__list {
  list-style-type: decimal;
  margin-left: 32px;
  margin-left: 2rem;
  padding-left: 8px;
  padding-left: .5rem;
}

.p-modal__list + .p-modal__list {
  margin-top: 10px;
  margin-top: 0.625rem;
}

.p-modal__section-title {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}

.p-modal__section {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-modal {
  display: none;
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.p-model__body {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-model__close-button {
  display: inline-block;
  background-color: #2f2f2f;
  color: #fff;
  padding: 16px 32px;
  padding: 1rem 2rem;
  border-radius: 0.3125rem;
}

.p-model__close-wrap {
  text-align: center;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-model__lists {
  margin-top: 10px;
  margin-top: 0.625rem;
}

.p-model__sub-title {
  font-size: 12px;
  font-size: 0.75rem;
}

.p-model__title {
  font-size: 24px;
  font-size: 1.5rem;
}

.p-nav__item {
  height: inherit;
}

.p-nav__item + .p-nav__item {
  margin-left: 20px;
  margin-left: 1.25rem;
}

.p-nav__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: reross-quadratic, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  height: inherit;
  height: inherit;
  position: relative;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .p-nav__link {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 768px) {
  .p-nav__link::after {
    background-color: #159741;
    content: "";
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 62%;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    width: 100%;
  }
}

.p-nav__link:hover::after {
  opacity: 1;
}

.p-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.p-privacy__link {
  display: inline-block;
  letter-spacing: .05em;
}

.p-privacy__link--green {
  color: #159741;
  display: inline-block;
  text-decoration: underline;
}

.p-privacy__text {
  letter-spacing: .05em;
}

.p-privacy__text--green {
  color: #159741;
  display: inline-block;
}

.p-section__title--sub {
  color: #fff;
}

.p-shop__heading--sp {
  display: block;
}

@media screen and (min-width: 768px) {
  .p-shop__heading--sp {
    display: none;
  }
}

.p-shop__heading--pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .p-shop__heading--pc {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .p-shop__name {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .p-shop__heading--pc .p-shop__name--small {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .p-shop__heading--pc .p-shop__name--jp {
    display: inline-block;
  }
}

.p-shop__img-wrap {
  margin-top: 40px;
  margin-top: 2.5rem;
  padding-top: 86.88%;
  position: relative;
}

@media screen and (min-width: 768px) {
  .p-shop__img-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.6111%;
            flex: 0 0 48.6111%;
    padding-top: 36%;
  }
}

.p-shop__img-wrap img {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
}

@media screen and (min-width: 768px) {
  .p-shop__info-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 51.3888%;
            flex: 0 0 51.3888%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-shop__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 24px;
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .p-shop__info {
    font-size: 1.125rem;
    width: 57.9729%;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-shop__inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.p-shop__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .p-shop__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-shop__letter {
  background-color: #fff;
  -webkit-box-shadow: 0 8px 22px -2px;
          box-shadow: 0 8px 22px -2px;
  margin-top: 98px;
  margin-top: 6.125rem;
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
  padding-top: 18px;
  padding-top: 1.125rem;
  position: relative;
}

.p-shop__letter::after {
  background-image: url(../../../assets/images/stamp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 93px;
  height: 5.8125rem;
  left: -18px;
  position: absolute;
  top: -39px;
  width: 112px;
  width: 7rem;
}

@media screen and (min-width: 768px) {
  .p-shop__letter::after {
    width: 18rem;
    height: 15rem;
    top: -98px;
    left: -117px;
  }
}

@media screen and (min-width: 768px) {
  .p-shop__letter {
    padding-top: 1.875rem;
    padding-left: 2.125rem;
    padding-right: 2rem;
  }
}

.p-shop__map-wrap {
  padding-top: 66.6667%;
  position: relative;
  width: 100%;
  height: 0;
  max-width: 1440px;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  margin-top: 3.5rem;
}

@media screen and (min-width: 768px) {
  .p-shop__map-wrap {
    padding-top: 32.2917%;
  }
}

.p-shop__map {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.p-shop__name {
  font-size: 32px;
  font-size: 2rem;
  font-family: reross-quadratic, sans-serif;
  text-align: center;
}

.p-shop__name--small {
  font-size: 18px;
  font-size: 1.125rem;
  display: inline-block;
  margin-right: 4px;
  margin-right: 0.25rem;
}

.p-shop__name--jp {
  display: block;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 4px;
  margin-top: 0.25rem;
}

.p-shop-info__address {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-shop-info__address {
    font-size: 1.125rem;
  }
}

.p-shop-info__detail {
  line-height: 1.7;
  margin-left: auto;
  width: 68.5132%;
}

@media screen and (min-width: 768px) {
  .p-shop-info__detail {
    width: 75.5132%;
  }
}

.p-shop-info__post-code {
  display: block;
  letter-spacing: .03em;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-shop-info__post-code {
    font-size: 1.125rem;
    margin-top: 1.5625rem;
  }
}

.p-shop-info__tel {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-shop-info__tel {
    font-size: 1.125rem;
  }
}

.p-shop-info__title {
  width: 18.95%;
  line-height: 1.7;
}

.p-shop-info__title:first-of-type {
  margin-top: 5px;
  margin-top: 0.3125rem;
}

.p-shop-info__wrap {
  padding-top: 56px;
  padding-top: 3.5rem;
}

.p-shop-letter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-top: 1.25rem;
  padding-bottom: 42px;
  padding-bottom: 2.625rem;
  padding-left: 14px;
  padding-left: 0.875rem;
  padding-right: 12px;
  padding-right: 0.75rem;
}

@media screen and (min-width: 768px) {
  .p-shop-letter__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
    padding-right: 0;
  }
}

.p-shop-letter__footer {
  text-align: right;
  font-family: "Satisfy", cursive;
  color: #159741;
  position: relative;
}

@media screen and (min-width: 768px) {
  .p-shop-letter__footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 19rem;
            flex: 0 0 19rem;
  }
}

.p-shop-letter__footer span {
  font-size: 36px;
  font-size: 2.25rem;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  display: inline-block;
  border-bottom: 4px double #159741;
}

@media screen and (min-width: 768px) {
  .p-shop-letter__footer span {
    font-size: 2.5rem;
    position: absolute;
    bottom: 0;
    left: -34px;
    text-align: left;
  }
}

.p-shop-letter__heading {
  font-family: "Satisfy", cursive;
  font-size: 30px;
  font-size: 1.875rem;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .p-shop-letter__heading {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 18.8%;
            flex: 0 0 18.8%;
    font-size: 3rem;
  }
}

.p-shop-letter__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .p-shop-letter__img-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.p-shop-letter__img {
  position: relative;
}

.p-shop-letter__img:first-of-type {
  padding-top: 87.3065%;
}

@media screen and (min-width: 768px) {
  .p-shop-letter__img:first-of-type {
    padding-top: 39.8517%;
    width: 58.2947%;
  }
}

.p-shop-letter__img:nth-of-type(2) {
  padding-top: 64.7059%;
}

@media screen and (min-width: 768px) {
  .p-shop-letter__img:nth-of-type(2) {
    width: 41.7053%;
    padding-top: 0;
  }
}

.p-shop-letter__img img {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.p-shop-letter__text {
  line-height: 2.5;
  padding-bottom: 5px;
  padding-bottom: 0.3125rem;
}

@media screen and (min-width: 768px) {
  .p-shop-letter__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55.46%;
            flex: 0 0 55.46%;
    margin-left: 3.25rem;
  }
}

.p-shop-letter__text--underline {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(97%, rgba(0, 0, 0, 0)), color-stop(97%, #ddd), to(#ddd));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 97%, #ddd 97%, #ddd 100%);
  background-size: 100% 2.5em;
  display: inline-block;
}

.p-shop {
  background-color: #f2f2f2;
}

.p-sns__label {
  background-color: #159741;
  color: #fff;
  font-family: reross-quadratic, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  left: 50%;
  padding-bottom: 11px;
  padding-bottom: 0.6875rem;
  padding-left: 34px;
  padding-left: 2.125rem;
  padding-right: 34px;
  padding-right: 2.125rem;
  padding-top: 10px;
  padding-top: 0.625rem;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .p-sns__label {
    padding-bottom: 1.125rem;
    padding-left: 6.6875rem;
    padding-right: 6.6875rem;
    padding-top: 1.125rem;
    font-size: 1.875rem;
  }
}

.fa-external-link-alt {
  position: absolute;
  top: 50%;
  right: 17px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}

@media screen and (min-width: 768px) {
  input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus,
  input[type="email"]:hover,
  input[type="email"]:active,
  input[type="email"]:focus,
  input[type="tel"]:hover,
  input[type="tel"]:active,
  input[type="tel"]:focus,
  textarea:hover,
  textarea:active,
  textarea:focus {
    border-color: #159741;
    -webkit-box-shadow: 0 0 4px 0 #159741;
            box-shadow: 0 0 4px 0 #159741;
  }
}
