.c-page-top-button {
  bottom: 13px;
  font-family: $third-font-family;
  font-size: rem(12);
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  white-space: nowrap;
  display: block;
  @include mq(md) {
    font-size: rem(16);
    bottom: 20px;
  }
  // &::before {
  //   border-color: transparent transparent #333 transparent;
  //   border-style: solid;
  //   border-width: 0 16px 27.7px 16px;
  //   content: "";
  //   display: block;
  //   height: 0;
  //   width: 0;
  //   border-radius: 3px;
  // }
}