.c-section__title {
  font-family: $third-font-family;
  font-size: rem(32);
  margin-top: rem(9);
  @include mq(md) {
    font-size: rem(48);
    line-height: 1.5;
    margin-top: 0;
  }
  letter-spacing: .05em;
  line-height: 1.1875;
  padding-bottom: rem(17);
  position: relative;
  text-align: center;
  text-transform: capitalize;
  &::after {
    background-color: $green;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 50px;
  }
}

.c-section__title--sub {
  color: $green;
  display: block;
  font-family: $base-font-family;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(18);
  }
  letter-spacing: .05em;
  text-align: center;
}

.c-section__title--menu {
  color: $white;
  @include mq(md) {
    padding-bottom: rem(16);
  }
  padding-bottom: rem(12);
  &::after {
    background-color: $white;
  }
}

.c-section__title--contact {
  @include mq(md) {
    padding-bottom: rem(10);
  }
}