/* FontFamily */
$base-font-family: 'Noto Sans JP', sans-serif;
$second-font-family: 'Satisfy', cursive;
$third-font-family: reross-quadratic, sans-serif;

body {
  font-family: $base-font-family;
  // font-family: $second-font-family;
  // font-family: $third-font-family;
}

/* font-weight */
$regular: 300;
$normal: 400;
$bold: 700;