.p-about__title {
  display: block;
  font-size: rem(24);
  font-weight: bold;
  white-space: nowrap;
  @include mq(md) {
    font-size: rem(30);
    margin-bottom: 0;
  }
  margin-bottom: rem(15);
}

.p-about__title--green {
  color: $green;
}
