.p-about__number {
  bottom: -23px;
  color: $white;
  display: inline-block;
  font-family: $third-font-family;
  font-size: rem(180);
  @include mq(md) {
    font-size: rem(288);
    right: 0;
    top: -55px;
  }
  line-height: 1;
  opacity: .8;
  position: absolute;
  right: -15px;
  z-index: $layer-background;
}