.p-form__item {
  @include mq(md) {
    margin-left: auto;
    margin-right: auto;
    width: 67.6203%;
  }
  & + & {
    @include mq(md) {
      margin-top: rem(32);
    }
    margin-top: rem(27);
  }
}