.p-form__check {
  cursor: pointer;
  padding-left: 43px;
  position: relative;
  &:hover,
  &:active,
  &:focus {
    &::before {
      @include mq(md) {
        border-color: $green;
        box-shadow: 0 0 4px 0 #159741;
      }
    }
  }
  // &:checked {
  //   &::before {
  //     @include mq(md) {
  //       // background-color: rgba($color: #159741, $alpha: .15);
  //       background-color: #333;
  //     }
  //   }
  // }
}

.p-form__check::before,
.p-form__check::after {
  content: "";
  display: block;
  position: absolute;
}

.p-form__check::before {
  background-color: #fff;
  border: 1px solid $base-color;
  border-radius: 0;
  height: 30px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  transition: background-color 0.3s;
}

.p-form__check::after {
  border-bottom: 2px solid $green;
  border-left: 2px solid $green;
  height: 14px;
  left: 9px;
  opacity: 0;
  top: -1px;
  transform: rotate(-45deg);
  width: 22px;
  transition: opacity 0.3s;
}

input[type="checkbox"]:checked + .p-form__check::before {
  // background-color: #333;
  background-color: rgba($color: #159741, $alpha: .15);
  border-color: $green;
  box-shadow: 0 0 4px 0 #159741;
}

input[type="checkbox"]:checked + .p-form__check::after {
  opacity: 1;
}