.p-form__input input {
  border: 1px solid $base-color;
  @include mq(md) {
    margin-top: rem(2);
    padding-bottom: rem(12);
    padding-left: rem(23);
    padding-right: rem(23);
    padding-top: rem(13);
  }
  margin-top: rem(4);
  padding-bottom: rem(17);
  padding-left: rem(16);
  padding-right: rem(13);
  padding-top: rem(16);
  width: 100%;
}

.p-form__input textarea {
  border: 1px solid $base-color;
  margin-top: rem(6);
  min-height: 160px;
  padding-bottom: rem(17);
  padding-left: rem(16);
  padding-right: rem(13);
  padding-top: rem(10);
  resize: vertical;
  @include mq(md) {
    margin-top: rem(2);
    padding-top: rem(11);
    padding-left: rem(23);
    padding-right: rem(23);

  }
}