.p-footer__logo {
  @include mq(md) {
    margin-top: rem(34);
  }
  margin-top: rem(29);
}

.p-footer__logo > a {
  display: flex;
  justify-content: center;
}

.p-footer__logo img {
  width: 166.48px;
}