.p-footer__copy {
  @include mq(md) {
    margin-top: rem(20);
  }
  margin-top: rem(30);
  padding-bottom: rem(10);
  text-align: center;
}

.p-footer__copy small {
  display: block;
  font-size: rem(12);
}