.p-hero__text {
  @include mq(md) {
    font-size: rem(18);
  }
  letter-spacing: .03em;
  & + & {
    @include mq(md) {
      margin-top: rem(26);
    }
    margin-top: rem(24);
  }
}


.p-hero__text--large {
  font-size: rem(20);
  font-weight: bold;
  @include mq(md) {
    font-size: rem(30);
    letter-spacing: .05em;
    margin-bottom: rem(43);
  }
  margin-bottom: rem(24);
}