.p-header__inner {
    display: flex;
    height: inherit;
    align-items: center;
    padding-left: rem(16);
    padding-right: rem(16);
    @include mq(md) {
        padding-left: rem(31);
        padding-right: rem(71);
        
    }
}