.p-hero__text-area {
  padding-bottom: rem(63);
  padding-left: rem(16);
  padding-right: rem(16);
  padding-top: rem(48);
  position: relative;
  text-align: center;
  z-index: $layer-default;
  &::after {
    bottom: -13px;
    color: #676767;
    content: "Garden Salad";
    display: block;
    font-family: $third-font-family;
    font-size: rem(115);
    line-height: 1;
    opacity: .3;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: $layer-background;
  }
}