.p-hero__inner {
  padding-top: rem(30);
  padding-left: rem(20);
  padding-right: 0;
  padding-bottom: rem(23);
  background-image: url(../../../assets/images/img_mv_sp.jpg);
  background-position: top right -70px;
  background-repeat: no-repeat;
  background-size: cover;
}
