.p-hero__text-area {
  @include mq(md) {
    padding-bottom: rem(107);
    padding-top: rem(125);
  }

  padding-bottom: rem(63);
  padding-left: rem(16);
  padding-right: rem(16);
  padding-top: rem(48);
  position: relative;
  text-align: center;
  z-index: $layer-default;
  &::after {
    bottom: 2px;
    color: #676767;
    content: "Garden Salad";
    display: block;
    font-family: $third-font-family;
    font-size: rem(115);
    @include mq(md) {
      bottom: -33px;
      font-size: rem(280);
      left: -43px;
      line-height: 1;
      overflow: hidden;
      text-align: left;
      white-space: nowrap;
    }
    @include mq(xxl) {
      text-align: center;
    }
    left: 0;
    line-height: .7;
    opacity: .3;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: $layer-background;
  }
}