.p-menu__button {
  margin-top: rem(24);
  text-align: center;
}

.p-menu__button a {
  padding-bottom: rem(17);
  padding-left: rem(37);
  padding-right: rem(58);
  padding-top: rem(16);
  position: relative;
  transition: background-color .3s, color .3s;
  &:hover {
    @include mq(md) {
      background-color: #333;
      color: $white;
      opacity: 1;
    }
  }
}