.p-menu__text {
  letter-spacing: 0.05em;
  @include mq(md) {
    align-items: center;
    display: flex;
    font-size: rem(18);
    justify-content: center;
    text-align: center;
    &::before,
    &::after {
      background-color: #333;
      content: "";
      height: 31px;
      width: 1px;
    }
    &::before {
      margin-right: 27px;
      transform: rotate(-35deg);
    }
    &::after {
      margin-left: 16px;
      transform: rotate(35deg);
    }
  }
  padding: 0 rem(12);
}
