.p-menu__button {
  margin-top: rem(24);
  text-align: center;
}

.p-menu__button a {
  padding-bottom: rem(17);
  padding-left: rem(37);
  padding-right: rem(58);
  padding-top: rem(16);
  position: relative;
}