.p-shop__letter {
  background-color: $white;
  box-shadow: 0 8px 22px -2px;
  @include mq(md) {
    margin-top: rem(80);
    padding-left: rem(34);
    padding-right: rem(32);
    padding-top: rem(30);
  }
  margin-top: rem(98);
  padding-left: rem(10);
  padding-right: rem(10);
  padding-top: rem(18);
  position: relative;
  &::after {
    background-image: url(../../../assets/images/stamp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: rem(93);
    @include mq(md) {
      height: rem(240);
      left: -101px;
      top: -74px;
      width: rem(288);
    }
    left: -18px;
    position: absolute;
    top: -39px;
    width: rem(112);
  }
}