.p-shop__img-wrap {
  margin-top: rem(40);
  padding-top: 86.88%;
  position: relative;
  @include mq(md) {
    flex: 0 0 48.6111%;
    padding-top: 50%;

  }
}

.p-shop__img-wrap img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
}