.p-shop__name {
  font-family: $third-font-family;
  font-size: rem(32);
  text-align: center;
}

.p-shop__name--small {
  display: inline-block;
  font-size: rem(18);
  margin-right: rem(4);
}

.p-shop__name--jp {
  display: block;
  @include mq(md) {
    margin-top: rem(4);
  }
  letter-spacing: .03em;
  margin-top: rem(-6);
  text-align: center;
}