.p-shop__name {
    font-size: rem(32);
    font-family: $third-font-family;
    text-align: center;
}

.p-shop__name--small {
    font-size: rem(18);
    display: inline-block;
    margin-right: rem(4);
}

.p-shop__name--jp {
    display: block;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: rem(4);
}