.p-sns__label {
  background-color: $green;
  color: $white;
  font-family: $third-font-family;
  font-size: rem(24);
  left: 50%;
  padding-bottom: rem(11);
  padding-left: rem(34);
  padding-right: rem(34);
  padding-top: rem(10);
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(-50%);
  @include mq(md) {
      padding-bottom: rem(18);
      padding-left: rem(107);
      padding-right: rem(107);
      padding-top: rem(11);
      font-size: rem(30);
      letter-spacing: 0.05em;
  }
}