.p-shop-letter__img {
  position: relative;
  &:first-of-type {
    padding-top: 87.3065%;
  }
  &:last-of-type {
      padding-top: 64.7059%;
  }
}

.p-shop-letter__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}