.p-shop-letter__footer {
  text-align: right;
  font-family: $second-font-family;
  color: $green;
  position: relative;
  @include mq(md) {
    flex: 0 0 rem(304);
  }
}

.p-shop-letter__footer span {
  font-size: rem(36);
  transform: rotate(-8deg);
  display: inline-block;
  border-bottom: 4px double $green;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: rem(40);
    position: absolute;
    bottom: -7px;
    left: -86px;
    text-align: left;
  }
}
